.header{
    background-color: #1EA084;
    display:flex;
}

.headerIcon{
    display: fixed;
    flex:0 0 25%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header img{

}